*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hotpink;
}

.section{
    min-height: 100vh; 
    padding-top: 100px;
}

.container{
    max-width: 1440px; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px; 
}

h1{
    font-size: 40px; 
    margin-bottom: 40px; 
    color: deeppink;
    text-align: center;
}

.accordion{
    max-width: 700px; 
    margin: auto;
}

.accordion_item {
    border: 1px rgb(44, 7, 3);
    padding: 20px;
}

.accordion_title{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px; 
}

.accordion_title h2{
        flex: 1;
        font-size: 25px;
}
.accordion_title i{
    font-size: 30px;
    cursor: pointer;
}

.accordion_content{
    display: none;
}

.accordion_title.active + .accordion_content{
    display: block;
    padding-top: 20px;
}