*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 60vh;
}

h2{
    margin-bottom: 20px;
}

.stars{
   
  cursor: pointer;
  font-size: 40px;
  color: gray;

}

